* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #232323;
  color: #fff;
  padding: 10px;
}

section {
  height: 100px;
}

.box {
  border: 1px solid #232323;
  display: inline-block;
  margin-top: 20px;
  width: 70px;
  border-radius: 5px;
}

.px {
  height: 10px;
}

/* root element -> 16px * 3 = 48px */
.rem {
  height: 3rem;
}

.em {
  font-size: 32px;
  height: 2em;
}

.prcnt-33 {
  height: 33%;
}

.prcnt-66 {
  height: 66%;
}

.prcnt-100 {
  height: 100%;
}

/* viewport height */
.vh {
  height: 30vh;
}
/* viewport width */
.vw {
  width: 50vw;
}
